
body {
    padding-top: 75px;
}

div.well {
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

#logo-container {
    margin: auto;
    margin-bottom: 2px;
    width: 367px;
    height: 141px;
    background-image: url('fratcher-logo.png');
}

.component {
    /*border: 1px solid lightgray;*/
    /*margin: 10px;*/
    /*padding: 5px;*/
}

.component h1 {
    /*text-align: right;*/
    /*color: lightgray;*/
    /*margin: 5px;*/
    /*font-size: 20px;*/
}

.component a {
    text-decoration: none;
    color: black;
}

.component .error {
    color: red;
}

.post-detail {
    margin-bottom: 20px;
}

.post-detail span {
    padding-right: 5px;
}

.post-detail .post-title {
    font-weight: bold;
    font-size: 28px;
}

.post-detail .post-subtitle {
    color: gray;
}

.post-detail .delete-button {

}

.post-comment {
    margin-top: 20px;
}

.post-comment span {
    padding-right: 10px;
}
